<!DOCTYPE html>

<html>

<head style="text-align: center;">
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div calss="main-content">    
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>

    {{>footer}}

</body>


</html>