<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content" style="text-align: center;">
        {{>header}}
        <p style="font-size: 26px;text-align: center;">Hello! 😃</p>
        <p style="font-size: 20px;text-align: center;">My name is Yakov and I created this website to provide you the weather information at your chosen location</p>
        
        <img class="center" src ="/img/me.jpg"      >
    </div>
    {{>footer}}
</body>


</html>