<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body style="text-align: center;">
    <div class="main-content">
        {{>header}}
        <p style="text-align: center;font-size:20px">{{helpText}}</p>
        <p style="font-size: 48px;text-align: center">🕵</p>

    </div>
    {{>footer}}
</body>

</html>