<!DOCTYPE html>

<html>

<head>
    <title>Weather </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body style="text-align: center;">
    <div class="main-content">
        {{>header}}


        <form>
            <input placeholder="ðŸ” Search location, zip...">
            <button>Search</button>
        </form>

        <p style="text-align: center;" id="message-1"></p>
        <p style="text-align: center;" id="message-2"></p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>

</body>

</html>