{{!-- <h1 align="center" style = "font-family:tahoma">☀️ Weather ⛈️</h1> --}}
<header>
    <h1>{{title}}</h1>

    {{!-- <style>
        div{
            background-image: url("/img/back.jpg");
            background-size: 100% 100%;
            
        }
    </style> --}}

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>

</header>